In [1]:
import numpy as np
import pandas as pd

In [7]:
from numpy.random import randn

In [10]:
np.random.seed(100)

In [11]:
df= pd.DataFrame(randn(5,4),['A','B','C','D','E'],['W','X','Y','Z'])

In [12]:
df

          W         X         Y         Z
A -1.749765  0.342680  1.153036 -0.252436
B  0.981321  0.514219  0.221180 -1.070043
C -0.189496  0.255001 -0.458027  0.435163
D -0.583595  0.816847  0.672721 -0.104411
E -0.531280  1.029733 -0.438136 -1.118318

In [13]:
df['W']

A   -1.749765
B    0.981321
C   -0.189496
D   -0.583595
E   -0.531280
Name: W, dtype: float64

In [14]:
type(df['W'])

pandas.core.series.Series

In [15]:
type(df)

pandas.core.frame.DataFrame

In [18]:
df['New'] = df['W'] + df['Y']

In [19]:
df

          W         X         Y         Z       New
A -1.749765  0.342680  1.153036 -0.252436 -0.596730
B  0.981321  0.514219  0.221180 -1.070043  1.202500
C -0.189496  0.255001 -0.458027  0.435163 -0.647523
D -0.583595  0.816847  0.672721 -0.104411  0.089126
E -0.531280  1.029733 -0.438136 -1.118318 -0.969416

In [20]:
df.drop('New',axis=1)

          W         X         Y         Z
A -1.749765  0.342680  1.153036 -0.252436
B  0.981321  0.514219  0.221180 -1.070043
C -0.189496  0.255001 -0.458027  0.435163
D -0.583595  0.816847  0.672721 -0.104411
E -0.531280  1.029733 -0.438136 -1.118318

In [21]:
df

          W         X         Y         Z       New
A -1.749765  0.342680  1.153036 -0.252436 -0.596730
B  0.981321  0.514219  0.221180 -1.070043  1.202500
C -0.189496  0.255001 -0.458027  0.435163 -0.647523
D -0.583595  0.816847  0.672721 -0.104411  0.089126
E -0.531280  1.029733 -0.438136 -1.118318 -0.969416

In [22]:
df.drop('New',axis=1,inplace=True)

In [23]:
df

          W         X         Y         Z
A -1.749765  0.342680  1.153036 -0.252436
B  0.981321  0.514219  0.221180 -1.070043
C -0.189496  0.255001 -0.458027  0.435163
D -0.583595  0.816847  0.672721 -0.104411
E -0.531280  1.029733 -0.438136 -1.118318

In [24]:
df.drop('E')

          W         X         Y         Z
A -1.749765  0.342680  1.153036 -0.252436
B  0.981321  0.514219  0.221180 -1.070043
C -0.189496  0.255001 -0.458027  0.435163
D -0.583595  0.816847  0.672721 -0.104411

In [28]:
df.drop('E',axis=0)

          W         X         Y         Z
A -1.749765  0.342680  1.153036 -0.252436
B  0.981321  0.514219  0.221180 -1.070043
C -0.189496  0.255001 -0.458027  0.435163
D -0.583595  0.816847  0.672721 -0.104411

In [29]:
#columns

In [31]:
df[['Z','X']]

          Z         X
A -0.252436  0.342680
B -1.070043  0.514219
C  0.435163  0.255001
D -0.104411  0.816847
E -1.118318  1.029733

In [32]:
df.loc['B']

W    0.981321
X    0.514219
Y    0.221180
Z   -1.070043
Name: B, dtype: float64

In [33]:
df.iloc[1]

W    0.981321
X    0.514219
Y    0.221180
Z   -1.070043
Name: B, dtype: float64

In [34]:
df.loc['B','Z']

-1.0700433305682933

In [35]:
df.loc[['A','B'],['W','X']]

          W         X
A -1.749765  0.342680
B  0.981321  0.514219